@import url('https://fonts.googleapis.com/css2?family=Parkinsans:wght@300..800&display=swap');

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* After Reset */

:root {
    font-size: 16px;
    --primary-color:#bde5eb;
    --text-color:#000;
    --base-color:#FFFFFF;
    --accent-color:#EBC3A7;
}
/* Darkmode */
.darkmode{
	--primary-color:#121212;
    --text-color:#FFFFFF;
    --base-color:#000000;
    --accent-color:#EBC3A7;

}

#skip {
	position: absolute;
	left: -10000px;
	top: auto;
	width: 1px;
	height: 1px;
	overflow: hidden;
}

#skip:focus {
	position: static;
	width: auto;
	height: auto;
}



/* Custom CSS */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	color: var(--text-color);
	line-height: 1.35;
	font-family: "Parkinsans", sans-serif;;
	padding: 0;
}
h2{
	font-size: 3rem; 
	align-items: center;
	justify-self: center;
	padding: 20px;
}
h3 {
	font-size: 2.5rem;
	align-items: center;
	justify-self: center;
	padding: 20px;
}
h4{
	font-size: 2rem;
	align-items: center;
	justify-self: center;
	padding: 10px;
}

/* Header */
header {
	display: grid;
	background-color: var(--primary-color);
	grid-template-columns: 40% 60%;
	height: 130;
}
header > img{
	width: 50%;
	justify-self: center;
	align-self: center;
	object-fit: contain;
}

 header h1 {
	display: none;
	font-size: 3rem;
}

/* Navigation */
nav{
	align-content: center;

}
nav ul {
	display: flex;
	margin: auto;
	padding-right: 20px;
}

nav li {
	font-size: 2rem; 
	justify-items: center;
	margin: auto;
	text-decoration: none;
}
nav a {
	display: flex;
	margin: auto;
	text-decoration: none;
	color: var(--text-color);
}

/* Main */
#main-content{
	display: grid;
	grid-template-areas:
			"a a a a"
			"b b b b"
			"d d c c";
	gap: 1rem;
	background-color: var(--primary-color);
	padding-bottom: 30px;
}

#main-content > div {
	grid-area: a;
}

#main-content > div > img{
	display: block;
	width: 100%;
	height: 70vh;
	object-fit: cover;
	object-position: center;
}

/* #main-content {
	display: block;
	background-color: var(--orange);
} */

#main-content > h2{
	grid-area: b;
	font-weight: 600;
}

#main-content > p{
	grid-area: c;
	width: 70%;
	font-size: 2rem;
	justify-self: center;
	align-self: center;
	padding: 50px;
	background-color: var(--base-color);
	border-radius: 20px;
	
}

#main-content > #aboutimg {
	grid-area: d;
	width: 80%;
	/* margin: 50px; */
	/* min-width: 20vw; */
	align-self: center;
	justify-self: center;
	padding: 10px;
	border: 1rem solid;
	border-color: var(--accent-color);
	border-radius: 50%;
}

/* Products */

#product {
	align-self: center;
	justify-content: center;
	margin: auto;
}

#product-list{
	display: grid;
	grid-template-columns: auto auto auto auto;
	padding-left: 100px;
	padding-right: 100px;
}

.pCard {
	padding: 20px;
	align-items: center;
	justify-items: center;
}

.cardimg {
	width: 250px;
	height: 250px;
	object-fit: cover;
	object-position: center;
}

.price{
	font-size: 1.5rem;
	padding-bottom: 5px;
}

.shop-item-button {
	background-color: var(--primary-color);
	color: var(--text-color);
	padding: 5px;
	border: none;
	font-weight: 400;

}

/* Cart */
/* #cart{
	display: block;
	justify-self: center;
	align-self: center;
}

.btn-purchas {
	display: block;
	margin: 50% auto;
}
.cart-column {
    display: flex;
	justify-content: center;
    align-items: center;
    margin-right: 1.5em;
    padding-bottom: 10px;
    margin-top: 10px;
}
.cart-row {
    display: flex;
    align-items: stretch;
	width: 60vw;
    justify-content: space-evenly;
	border-bottom: 1px solid var(--text-color);
}
.cart-item{
	width: 45%;
}
.cart-item-title{
	padding-left: 20px;
}
.cart-total{
	padding: 10px;
	font-size: large;
	justify-self: center;
}

.cart-quantity-input{
	width: 40px;
	margin: 10px;
} */

/* Contact */
#contact {
	display: block;
	background-color: var(--primary-color);
	/* width: 800px; */
	height: 500px;
	justify-self: center;
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 20px;
}
form{
	display: block;
	margin: auto 0;
	justify-items: center;
}
label{
	display: block;
	padding-top: 20px;
	padding-bottom: 10px;
}
#contact input{
	display: block;
	width: 20vw;
	padding: 10px;
}
#mySubmit{
	background-color: var(--accent-color);
	color: var(--text-color);
	display: block;
	margin-top: 5px;
	border: none;
	padding: 10px;
}

footer{
	display: block;
	justify-items: center;
	background-color: var(--primary-color);
	text-decoration: none;
	padding-top: 30px;
}
footer a{
	display: block;
	justify-items: center;
	text-decoration: none;
	color:var(--text-color)
}
#socialMedia a{
	display: inline;

}
#socialMedia img{
	margin-left: 10px;
	width: 50px;
}
