@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Parkinsans:wght@300..800&display=swap');

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* After Reset */

/* Root Variables */

:root {
	font-size: 16px;
	--primary-color: #bde5eb;
	--base-black: #000;
	--base-white: #FFFFFF;
	--secondary-color: #EBC3A7;
}
/* Darkmode */
/* @media (prefers-color-scheme: dark) {
	:root {
		--primary-color: #212424;
		--base-black: #FFFFFF;
		--base-white: #000000;
		--secondary-color: #df4a2f;
	}
}

@media (prefers-color-scheme: light) {
	:root {
		--primary-color: #bde5eb;
	--base-black: #000;
	--base-white: #FFFFFF;
	--secondary-color: #EBC3A7;
	}
} */


.dark-theme {
	--primary-color: #212424;
	--base-black: #FFFFFF;
	--base-white: #000000;
	--secondary-color: #df4a2f;
}

#skip {
	position: absolute;
	left: -10000px;
	top: auto;
	width: 1px;
	height: 1px;
	overflow: hidden;
}

#skip:focus {
	position: static;
	width: auto;
	height: auto;
}



/* Custom CSS */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	color: var(--base-black);
	line-height: 1.35;
	font-family: "Parkinsans", "Noto Serif", sans-serif;
	padding: 0;
}

h2 {
	font-size: 3rem;
	align-items: center;
	justify-self: center;
	padding: 20px;
}

h3 {
	font-size: 2.5rem;
	align-items: center;
	justify-self: center;
	padding: 20px;
}

h4 {
	font-size: 2rem;
	align-items: center;
	justify-self: center;
	padding: 10px;
}

p {
	font-family: "Noto Serif";
}

/* Header */
header {
	display: grid;
	background-color: var(--primary-color);
	grid-template-columns: 40% 60%;
	height: 130px;
}

header>img {
	width: 50%;
	justify-self: center;
	align-self: center;
	object-fit: contain;
}

header h1 {
	display: none;
	font-size: 3rem;
}

/* Navigation */
nav {
	align-content: center;

}

nav ul {
	display: flex;
	margin: auto;
	padding-right: 20px;
}

nav li {
	font-size: 2rem;
	justify-items: center;
	margin: auto;
	text-decoration: none;
}

nav a {
	display: flex;
	margin: auto;
	text-decoration: none;
	color: var(--base-black);
}

/* Main */
#main-content {
	display: grid;
	grid-template-areas:
		"a a a a"
		"b b b b"
		"d d c c";
	gap: 1rem;
	background-color: var(--primary-color);
	padding-bottom: 30px;
}

#main-content>div {
	grid-area: a;
}

#main-content>div>img {
	display: block;
	width: 100%;
	height: 70vh;
	object-fit: cover;
	object-position: center;
}

/* #main-content {
	display: block;
	background-color: var(--orange);
} */

#main-content>h2 {
	grid-area: b;
	font-weight: 600;
}

#main-content>p {
	grid-area: c;
	width: 70%;
	font-size: 2rem;
	justify-self: center;
	align-self: center;
	padding: 50px;
	background-color: var(--base-white);
	border-radius: 20px;

}

#main-content>#aboutimg {
	grid-area: d;
	width: 80%;
	/* margin: 50px; */
	/* min-width: 20vw; */
	align-self: center;
	justify-self: center;
	padding: 10px;
	border: 1rem solid;
	border-color: var(--secondary-color);
	border-radius: 50%;
}

.carousel-image {
	display: none;
}

/* Products */

/* #product {
	align-self: center;
	justify-content: center;
	margin: auto;
}

#product-list{
	display: grid;
	grid-template-columns: auto auto auto auto;
	padding-left: 100px;
	padding-right: 100px;
}

.pCard {
	padding: 20px;
	align-items: center;
	justify-items: center;
}

.cardimg {
	width: 250px;
	height: 250px;
	object-fit: cover;
	object-position: center;
}

.price{
	font-size: 1.5rem;
	padding-bottom: 5px;
}

.shop-item-button {
	background-color: var(--primary-color);
	color: var(--base-black);
	padding: 5px;
	border: none;
	font-weight: 400;

} */

/* Contact form */
#contact {
	display: block;
	background-color: var(--primary-color);
	width: 30vw;
	height: fit-content;
	justify-self: center;
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 20px;
}

form {
	display: block;
	margin: auto 0;
	justify-items: center;
}

label {
	display: block;
	padding: 20px;
}

textarea {
	display: block;
	width: 100%;
	height: 10vh;
}

#contact input {
	display: block;
	justify-self: center;
	width: 100%;
	padding: 10px;
}

.radio-group {
	display: flex;
	align-items: center;
	justify-items: center;
}

.radio-group>input {
	display: flex;
}

#mySubmit {
	background-color: var(--secondary-color);
	color: var(--base-black);
	display: block;
	margin-top: 5px;
	border: none;
	padding: 10px;
}

#mySubmit:hover {
	background-color: var(--primary-color);

}

/* FOOTER */

footer {
	display: block;
	justify-items: center;
	background-color: var(--primary-color);
	text-decoration: none;
	padding-top: 30px;
}

footer a {
	display: block;
	justify-items: center;
	text-decoration: none;
	color: var(--base-black)
}

#socialMedia a {
	display: inline;

}

#socialMedia img {
	margin-left: 10px;
	width: 50px;
}


/* Shopping cart CSS */

.container {
	/* width: 1000px; */
	margin: auto;
	transition: 0.5s;
	padding-bottom: 100px;
}

.container h3 {
	color: var(--base-black);
	grid-template-columns: 1fr 50px;
	margin-top: 50px;
}

.container .heading .shopping {
	position: relative;
	text-align: right;
}

.shopping i {
	display: flex;
	justify-self: center;
	font-size: 2.5rem;
	color: var(--primary-color);
	cursor: pointer;
	transition: all 0.25s ease;
	z-index: 4;
}

.shopping i:hover {
	color: lightpink;
}

.shopping span {
	background: var(--secondary-color);
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	position: absolute;
	top: 22px;
	left: 90%;
	padding: 3px 10px;
	z-index: -1;
}

.container .list {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 20px;
	justify-items: center;
	margin-top: 50px;
}

.cart {
	position: fixed;
	top: 0;
	left: 100%;
	width: 500px;
	background-color: white;
	border: 4px solid var(--primary-color);
	height: 60vh;
	transition: 0.5s;
}

.active .cart {
	left: calc(100% - 500px);
	z-index: 5;
}

.active .container {
	transform: translateX(-200px);
}

.cart .h4 {
	color: var(--primary-color);
	font-weight: 300;
	margin: 0;
	padding: 0 20px;
	height: 80px;
	display: flex;
	align-items: center;
}

.cart .checkOut {
	position: absolute;
	bottom: 0;
	width: 100%;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

.cart .checkOut div {
	background-color: var(--primary-color);
	color: var(--base-black);
	width: 100%;
	height: 70px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: bold;
	cursor: pointer;
}

.cart .checkOut .div:nth-child(2) {
	/* background-color: ; */
	color: black;
}

.list .item {
	text-align: center;
	width: 30vw;
	background-color: white;
	padding: 20px;
	box-shadow: 0 20px 50px gray;
	letter-spacing: 1px;
	transition: all 0.25s ease;
	border-radius: 8px;
	cursor: pointer;
}

.list .item img {
	width: 80%;
	height: 250px;
	object-fit: cover;
	object-position: center;
}

.item button {
	background-color: var(--primary-color);
	border: none;
	border-radius: 20px;
	padding: 10px 10px;
}

.item button:hover {
	background-color: var(--secondary-color);
	color: var(--base-white);
}

div .title {
	font-size: 2rem;
}

.listCard li {
	display: grid;
	grid-template-columns: 100px repeat(3, 1fr);
	color: #FFFFFF;
	row-gap: 10px;
	margin: 10px;
}

.listCard li div {
	display: flex;
	justify-content: center;
	align-items: center;
}

.listCard li img {
	width: 90%;
}

.listCard .count {
	margin: 0px 10px;
	color: black;
}

.cardTitle,
.cardPrice {
	color: #000;
}

.cardButton {
	width: 20px;
	height: 20px;
	color: #bde5eb;
	font-size: 1.5rem;
	font-weight: 500;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}